.mainContent{
    display: block;
    margin:  5rem auto;
    padding: 2rem;
    border: 2px solid orange;
    text-align: center;
    height: 300px;
}
.mainContent:hover{
  transform: translateY(-10px);
  box-shadow: 10px 20px #1a1a1a;
}
